<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 logPage">
      <h5>Login</h5>
     <form name="form" [formGroup]="login"  (ngSubmit)="loginFn()">
       <div class="form-group">
         <input required class="form-control" type="text" placeholder="Email" formControlName="email">
       </div>
       <div class="form-group">
         <input required type="password" placeholder="Password" class="form-control" formControlName="password">
       </div>
       <div class="clearfix">
          <button type="submit" class="btn btn-primary float-left" >Login</button>
          <a [routerLink]="['/signup']" class="btn btn-secondary float-right">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
